.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 60px;
  background-color: #131921;
}

.header__navbar {
  display: flex;
  height: 100%;
  padding: 0 10px;
  align-items: center;
}

.header__sidebarMenuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  display: flex;
  padding-top: 16px;
  object-fit: contain;
  width: calc(101% - 100px);
  justify-content: center;
}

.header__logo > a {
  height: 36.42px !important;
}

.header__logoImage {
  flex: 1;
  width: 100px;
}

@media (max-width: 899.9px) {
  .header__nav {
    display: none;
  }
}

@media (min-width: 900px) {
  .header__logo {
    width: 100px;
    margin-left: 10px;
  }

  .header__search {
    display: flex;
    flex: 1;
    margin-right: 10px;
    align-items: center;
    border-radius: 24px;
  }

  .header__search:focus-within {
    box-shadow: 0 0 1.2pt 3px #ff9900;
    border-radius: 4px;
  }

  .header__searchInput {
    width: 100%;
    height: 12px;
    padding: 10px;
    border: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #febd69;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .header__searchIcon:hover {
    background-color: #f3a847;
  }

  .header__nav {
    flex: 1;
    display: flex;
    margin-left: 10px;
    justify-content: space-evenly;
    align-items: center;
  }

  .header > * a {
    text-decoration: none !important;
  }

  .header__option {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
  }

  .header__option:hover {
    box-shadow: 0 0 0 1px white;
    border-radius: 2px;
  }

  .header__optionDisabled {
    color: rgba(255, 255, 255, 0.651);
  }

  .header__optionDisabled:hover {
    box-shadow: none;
    border: none;
  }

  .header__optionLineOne {
    font-size: 10px;
  }

  .header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }

  .header__optionBasket {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .header__optionBasket:hover {
    box-shadow: 0 0 0 1px white;
    border-radius: 2px;
  }

  .header__basketCount {
    margin-left: 5px;
    text-decoration: none;
  }
}
