.carousel {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel__container {
  width: 320px;
  height: 400px;
  display: flex;
  border-radius: 3px;
  justify-content: center;
}

.carousel__outside {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.carousel__controll {
  background: var(--color-button-secondary);
  box-shadow: var(--color-border-shadow-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.carousel__controllIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: var(--color-button-primary);
  border: 1px solid var(--color-border-primary);
  border-radius: 100px;
  margin: 5px;
}

.carousel__slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 100%;
}

.carousel__slide {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 100%;
  margin: 0 10px;
}
